<div class="banner">
    
</div>
<!-- Section-->
<section class="py-3">
    <div class="container-fluid px-4 px-lg-5 mt-3">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let product of allProducts | filter:searchkey:'title'">
                <div class="card h-100 shadow">
                    <!-- Product image-->
                    <img class="card-img-top p-3" [src]="product.image" alt="..." height="200px" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title}}</h5>
                            <!-- Product price-->
                            ${{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="view-product/{{product.id}}">View Product</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
