<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" [src]="product.image" alt="..." height="500px" /></div>
            <div class="col-md-6">
                <div class="small mb-1">Product ID: #{{product.id}}</div>
                <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                <div class="fs-5 mb-5">
                    <span>${{product.price}}</span>
                </div>
                <p class="lead text-align-justify" style="text-align:justify;">{{product.description}}</p>
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0 me-2" type="button" (click)="addToCart(product)">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="addToWishlist()">
                        <i class="bi-cart-fill me-1"></i>
                        Add to wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
